.cover__link {
  position: relative;
  /* width: 100%;
  height: 100%; */
  background-image: url(../../../images/__background.jpeg);
  background-size: cover;
  z-index: 1;
  max-width: 1184px;
  min-height: 740px; 
}

.cover__link::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: .3;
  z-index: -1;
  content: " ";
  top: 0;
  left: 0;
}

.cover__link:hover {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 625px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }
}

/* @media screen and (max-width: 425px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }
} */