.photo-grid__list {
  max-width: 1280px;
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px 16px;
  padding: 92px 48px 92px 48px;
  font-size: 0;
}
  
@media screen and (max-width: 1024px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 14px 14px;
    padding: 92px 48px 92px 48px;
  }
}
  
@media screen and (max-width: 768px) {
  .photo-grid__list {
    gap: 16px 16px;
    padding: 88px 24px 88px 24px;
 }
}
  
@media screen and (max-width: 425px) {
  .photo-grid__list {
    gap: 16px;
    padding: 64px 16px 64px 16px;
  }
}