.photo-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  /* max-width: 1184px;
    min-height: 671px; */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px); */
  gap: 16px 16px;
  padding: 92px 48px 92px 48px;
}


@media screen and (max-width: 1024px) {
  .photo-grid {
    /* max-width: 928px;
    min-height: 942px; */
    grid-template-columns: repeat(auto-fit, minmax(288px,1fr));
    /* grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px); */
    gap: 14px 14px;
    padding: 92px 48px 92px 48px;
  }
}

@media screen and (max-width: 1100px) {
  .photo-grid {
    /* max-width: 928px;
    min-height: 942px; */
    grid-template-columns: repeat(auto-fit, minmax(288px,1fr));
    /* grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px); */
    gap: 14px 14px;
    padding: 92px 48px 92px 48px;
  }
}


@media screen and (max-width: 768px) {
  .photo-grid {
    /* max-width: 720px;
    min-height: 1164px; */
    grid-template-columns: repeat(auto-fit, minmax(288px,1fr));
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6, 264px); */
    gap: 16px 16px;
    padding: 88px 24px 88px 24px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px,1fr));
    /* max-width: 352px;
    min-height: 264px; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: repeat(12, 216px); */
    gap: 16px;
    padding: 64px 16px 64px 16px;
  }
}

