.places {
  /* max-width: 984px;
  max-height: 3392px; */
  margin: 0;
  padding: 0 0 92px 148px;
}


@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    /* max-height: 3292px; */
    padding: 0 0 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    /* min-height: 2808px; */
    padding: 0 0 88px 24px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    width: 100%;
    /* max-height: 3292px; */
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .places {
    max-width: 320px;
    /* max-height: 3292px; */
    padding: 0;
  }
}