.lead {
  max-width: 1280px;
  display: grid;
  justify-items: center;
  padding: 56px 148px 92px 148px;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 48px 48px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 48px 0 88px 0;
  }
}
@media screen and (max-width: 425px) {
  .lead {
     padding: 48px 0 64px 0;
  }
}