.cover__subtitle {
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  z-index: 0;
  padding: 0;
  margin: 0;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}


@media screen and (max-width: 625px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}