.footer__link {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 0 18px 0 0 
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding: 0 18px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 0 18px 0 0;
  }

  .footer__link:last-child {
    padding: 0;
 }
}

@media screen and (max-width: 735px) {
  .footer__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 0 0 10px 0;
  }
  .footer__link:last-child {
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .footer__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding: 0 0 32px 0;
  }
  .footer__link:last-child {
    padding: 0;
  }
}