.lead__title {
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0;
  text-align: center;
  color: white;
  padding: 0 0 32px 0;
}

@media screen and (max-width: 689px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    padding: 0 0 16px 0;
    font-size: 40px;
    line-height: 44px;
  }
}
