.place__paragraph { 
  width: 90%;
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  padding: 0 0 26px 0;
}


@media screen and (max-width: 1024px) {
  .place__paragraph:last-child {
    padding: 0;
 }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    padding: 0 0 25px 0;
  }
   .place__paragraph:last-child {
     padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    font-size: 16px;
    padding: 0 16px 25px 16px;
  }
   .place__paragraph:last-child {
    padding: 0 16px 0 16px;
  }
}
