.intro__text {
    max-width: 690px;
    max-height: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    margin: 0;
    padding: 0 0 33px 0; 
    color: #FFFFFF;
}
/* 
@media screen and (max-width: 1279px) {
    .intro__text {
     
    }
  }
  
  @media screen and (max-width: 1023px) {
    .intro__text {
   
    }
  } */
  
@media screen and (max-width: 768px) {
    .intro__text {
      max-width: 720px;
      max-height: 208px;
  }
}

@media screen and (max-width: 425px) {
  .intro__text {
    max-width: 288px;
    max-height: 520px;
  }
} 
  