.lead__subtitle {
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
  max-width: 640px;
}
  
@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}

