.place__link {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.place__link:hover {
  opacity: .8;
}
