.footer__navigation {
  display: flex;
  margin: 0;
  /* max-height: 18px; */
}

/* @media screen and (max-width: 1280px) {
  .footer__navigation {
   
  }
}

@media screen and (max-width: 1024px) {
  .footer__navigation {
    
  }
}

@media screen and (max-width: 768px) {
  .footer__navigation {
   
  }
} */

@media screen and (max-width: 320px) {
  .footer__navigation {
    flex-direction: column;
    align-self: flex-start;
    padding: 0 0 48px 0;
 }
}