.footer__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
 font-size: 0;
}

@media screen and (max-width: 735px) {
  .footer__list {
    flex-direction: column;
    align-self: flex-start;
    padding: 0 0 27px 0;
 }
}

@media screen and (max-width: 425px) {
  .footer__list {
    flex-direction: column;
    align-self: flex-start;
    gap: 32px;
    padding: 0 0 48px 0;
 }
} 