.place__url-heading {
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0;
  padding: 0 0 12px 0;
  text-decoration: none;
}

.place__url-heading:hover {
  opacity: .8;
}

@media screen and (min-width: 1024px) {
  .place__url-heading {
    line-height: 12px;
  }
}


