.place__website {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 456px;
    max-height: 46px; */
    margin: 0;
    padding: 0;
    align-self: flex-end;
    max-width: 456px;
    max-height: 46px;
    
}

  @media screen and (max-width: 1024px) {
    .place__website {
      max-width: 456px;
      max-height: 46px;
    }
  }

  @media screen and (max-width: 768px) {
    .place__website {
      max-width: 352px;
      max-height: 46px;
    }
  }

  @media screen and (max-width: 425px) {
    .place__website {
      max-width: 288px;
      max-height: 46px;
      padding: 32px 16px 32px 16px;
    }
  }


