.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  /* identical to box height, or 107% */
  color: #FFFFFF;
  padding: 0 0 40px 0;
  margin: 0;
}

/* @media screen and (max-width: 1280px) {
  .intro__title {
    max-width: 690px;
    max-height: 58px;
  }
}

@media screen and (max-width: 1024px) {
  .intro__title {
    max-width: 690px;
    max-height: 58px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
    max-height: 58px;
} */

@media screen and (max-width: 425px) {
  .intro__title {
    max-width: 288px;
    max-height: 70px;
    font-size: 32px;
    line-height: 35px;
  }
}
@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 288px;
    max-height: 70px;
    font-size: 32px;
    line-height: 35px;
  }
}